<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Igor.Properties.Settings.YoutubeConnectionString"
            connectionString="Data Source=DESKTOP-AVQC5G3\SQLEXPRESS;Initial Catalog=Youtube;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Igor.Properties.Settings.TrabalhoIgorConnectionString"
            connectionString="Data Source=DESKTOP-AVQC5G3\SQLEXPRESS;Initial Catalog=TrabalhoIgor;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>